body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%; /* Ширина боковой панели */
}

.main-content {
    width: 75%; /* Ширина основного контента */
}

h2 {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    display: inline-block;
    margin-left: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}