body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation {
    margin-bottom: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 15px;
}

.navigation a {
    text-decoration: none;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.button {
    font-size: 16px;
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0,   0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeInUp 0.3s ease;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #749993;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
    margin-bottom: -250px; /* Пример отрицательного отступа в 20px */
}

footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
}